<ion-header>
  <ion-navbar color="CustomHeader">
    <!--<ion-buttons left>
      <button ion-button (click)="CloseCartPage()">
        <ion-icon class="customIcon" name="md-arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>-->
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
  <ion-item *ngIf="userObj.Name != undefined">
    <ion-row>
      <ion-col col-10>
        <h2><ion-icon name="md-contact"></ion-icon> &nbsp;<b>{{userObj.Name}}</b></h2>
      </ion-col>
      <ion-col col-2>
        <button float-right small ion-button outline color="CustomHeader" [navPush]="profilePage" [navParams]="{pwdHide : true}">Edit</button>
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col col-12>
        <h2 text-wrap><ion-icon name="md-home"></ion-icon> &nbsp;<b>{{shareService.GetCompleteAddressfromJSONObject(userObj)}}</b></h2>        
      </ion-col>      
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col col-8>
        <h2><b>Grand Total</b></h2>
      </ion-col>
      <ion-col col-4>
        <h2 float-right><b>Rs : {{FinalCartPrice}}</b></h2>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-header>
<ion-content padding>
  <!-- List Of Menus -->
  <ion-list>
    <ion-item-divider color="light"><b>Order Summary</b></ion-item-divider>
    <ion-item *ngFor="let item of FinalCartItems">
      <ion-row>
        <ion-col col-8>
          <h2>{{item.itemName}}</h2>
        </ion-col>
        <ion-col col-4>
          <h2><ion-badge float-right>Qty : {{item.itemQty}}</ion-badge></h2>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item></ion-item>
  </ion-list>
  <!-- List of Menus -->
</ion-content>

<ion-footer (click)="PlaceAnOrder()">
  <ion-toolbar color="primary" class="FooterCart">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          
        </ion-col>
        <ion-col col-4>
          Place Order
        </ion-col>
        <ion-col col-4>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
